<a href="https://colab.research.google.com/github/rook0falcon/ML-QAs/blob/master/Example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Writing a function for kSum: Sum of k elements from a list that are equal to a target
def kSum(nums, target, k):
    res = []
    if len(nums) == 0 or nums[0] * k > target or target > nums[-1] * k:
        return res
    if k == 2:
        return twoSum(nums, target)
    for i in range(len(nums)):
        if i == 0 or nums[i - 1] != nums[i]:
            for _, set in enumerate(kSum(nums[i + 1:], target - nums[i], k - 1)):
                res.append([nums[i]] + set)
    return res

def twoSum(nums, target):
    res = []
    lo, hi = 0, len(nums) - 1
    while (lo < hi):
        sum = nums[lo] + nums[hi]
        if sum < target or (lo > 0 and nums[lo] == nums[lo - 1]):
            lo += 1
        elif sum > target or (hi < len(nums) - 1 and nums[hi] == nums[hi + 1]):
            hi -= 1
        else:
            res.append([nums[lo], nums[hi]])
            lo += 1
            hi -= 1
    return res

In [2]:
nums = [-10, 4, 5, 6, 8, -11, 0, -1, -1, -2, -3, -4, -1, -6, 0, 1, 2, 1, 2, 3, 4, 5, 6, 4, 3, 2, 1, 2, 3, -3]
nums.sort()

In [3]:
kSum(nums, 0, 4)

[[-11, -3, 6, 8],
 [-11, -2, 5, 8],
 [-11, -1, 4, 8],
 [-11, -1, 6, 6],
 [-11, 0, 3, 8],
 [-11, 0, 5, 6],
 [-11, 1, 2, 8],
 [-11, 1, 4, 6],
 [-11, 1, 5, 5],
 [-11, 2, 3, 6],
 [-11, 2, 4, 5],
 [-11, 3, 3, 5],
 [-11, 3, 4, 4],
 [-10, -4, 6, 8],
 [-10, -3, 5, 8],
 [-10, -2, 4, 8],
 [-10, -2, 6, 6],
 [-10, -1, 3, 8],
 [-10, -1, 5, 6],
 [-10, 0, 2, 8],
 [-10, 0, 4, 6],
 [-10, 0, 5, 5],
 [-10, 1, 1, 8],
 [-10, 1, 3, 6],
 [-10, 1, 4, 5],
 [-10, 2, 2, 6],
 [-10, 2, 3, 5],
 [-10, 2, 4, 4],
 [-10, 3, 3, 4],
 [-6, -4, 2, 8],
 [-6, -4, 4, 6],
 [-6, -4, 5, 5],
 [-6, -3, 1, 8],
 [-6, -3, 3, 6],
 [-6, -3, 4, 5],
 [-6, -2, 0, 8],
 [-6, -2, 2, 6],
 [-6, -2, 3, 5],
 [-6, -2, 4, 4],
 [-6, -1, -1, 8],
 [-6, -1, 1, 6],
 [-6, -1, 2, 5],
 [-6, -1, 3, 4],
 [-6, 0, 0, 6],
 [-6, 0, 1, 5],
 [-6, 0, 2, 4],
 [-6, 0, 3, 3],
 [-6, 1, 1, 4],
 [-6, 1, 2, 3],
 [-6, 2, 2, 2],
 [-4, -3, -1, 8],
 [-4, -3, 1, 6],
 [-4, -3, 2, 5],
 [-4, -3, 3, 4],
 [-4, -2, 0, 6],
 [-4, -2, 1, 5],
 [-4, -2, 2, 4],
 [-4, -2, 3, 3],
 [-4, -1, -1, 6],
 [-4, -1, 0, 5],
 [-4, -1, 1, 4],
 [-4, -1, 2, 3],
 [-4, 0, 0, 4],
 [-4, 0, 1, 3],
 [-4, 0, 2, 2],
 [-4, 1, 1, 2],
 [-3, -3, -2, 8],
 [-3, -3, 0, 6],
 [-3, -3, 1, 5],
 [-3, -3, 2, 4],
 [-3, -3, 3, 3],
 [-3, -2, -1, 6],
 [-3, -2, 0, 5],
 [-3, -2, 1, 4],
 [-3, -2, 2, 3],
 [-3, -1, -1, 5],
 [-3, -1, 0, 4],
 [-3, -1, 1, 3],
 [-3, -1, 2, 2],
 [-3, 0, 0, 3],
 [-3, 0, 1, 2],
 [-3, 1, 1, 1],
 [-2, -1, -1, 4],
 [-2, -1, 0, 3],
 [-2, -1, 1, 2],
 [-2, 0, 0, 2],
 [-2, 0, 1, 1],
 [-1, -1, -1, 3],
 [-1, -1, 0, 2],
 [-1, -1, 1, 1],
 [-1, 0, 0, 1]]

In [4]:
# Class Definitions and Testing
class CreditCard:
    """A consumer credit card."""
    def __init__ (self, customer, bank, acnt, limit):
        """Create a new credit card instance.
        The initial balance is zero.
        customer the name of the customer (e.g., John Bowman )
        bank the name of the bank (e.g., California Savings )
        acnt the acount identifier (e.g., 5391 0375 9387 5309 )
        limit credit limit (measured in dollars)
        """
        self._customer = customer
        self._bank = bank
        self._account = acnt
        self._limit = limit
        self._balance = 0

    def get_customer(self):
        """Return name of the customer."""
        return self._customer
    
    def get_bank(self):
        """Return the bank s name."""
        return self._bank

    def get_account(self):
        """Return the card identifying number (typically stored as a string)."""
        return self._account
    
    def get_limit(self):
        """Return current credit limit."""
        return self._limit
    
    def get_balance(self):
        """Return current balance."""
        return self._balance

    def charge(self, price):
        """
        Charge given price to the card, assuming sufficient credit limit.
        Return True if charge was processed; False if charge was denied.
        """
        if price + self._balance > self._limit: # if charge would exceed limit,
            return False # cannot accept charge
        else:
            self._balance += price
        return True
    
    def make_payment(self, amount):
        """Process customer payment that reduces balance."""
        self._balance -= amount

In [5]:
cc = CreditCard( "John Doe", '1st Bank', '5391 0375 9387 5309' , 1000)
cc

In [6]:
try:
    print(cc())
except:
    print('Error')

Error

In [7]:
try:
    print(cc.get_account())
except:
    print('Error')

5391 0375 9387 5309

In [8]:
cc._balance

0

In [9]:
print(cc.charge(100))
print(cc.charge(-100)) #wrong
try:
    print(cc.charge('Teddy')) #test case failed
except:
    print('Error')

True
True
Error

In [10]:
if __name__ == '__main__' :
    wallet = []
    wallet.append(CreditCard( 'John Bowman' , 'California Savings' , '5391 0375 9387 5309' , 2500) )
    wallet.append(CreditCard( 'John Bowman' , 'California Federal' , '3485 0399 3395 1954' , 3500) )
    wallet.append(CreditCard( 'John Bowman' , 'California Finance' , '5391 0375 9387 5309' , 5000) )
    for val in range(1, 17):
        wallet[0].charge(val)
        wallet[1].charge(2*val)
        wallet[2].charge(3*val)

    for c in range(3):
        print(c)
        print( 'Customer =' , wallet[c].get_customer())
        print( 'Bank =' , wallet[c].get_bank())
        print( 'Account =' , wallet[c].get_account())
        print( 'Limit =' , wallet[c].get_limit())
        print( 'Balance =' , wallet[c].get_balance())
        while wallet[c].get_balance( ) > 100:
            wallet[c].make_payment(100)
            print( 'New balance =' , wallet[c].get_balance())
        print('-'*50)

0
Customer = John Bowman
Bank = California Savings
Account = 5391 0375 9387 5309
Limit = 2500
Balance = 136
New balance = 36
--------------------------------------------------
1
Customer = John Bowman
Bank = California Federal
Account = 3485 0399 3395 1954
Limit = 3500
Balance = 272
New balance = 172
New balance = 72
--------------------------------------------------
2
Customer = John Bowman
Bank = California Finance
Account = 5391 0375 9387 5309
Limit = 5000
Balance = 408
New balance = 308
New balance = 208
New balance = 108
New balance = 8
--------------------------------------------------

In [11]:
# Multidimensional Vector class
# By default, the + operator is undefined for a new class. However, the author
# of a class may provide a definition using a technique known as operator overloading.
# This is done by implementing a specially named method. In particular, the
# + operator is overloaded by implementing a method named add , which takes
# the right-hand operand as a parameter and which returns the result of the expression.


class Vector:
    """ Represent a vector in a multidimensional space."""
    def __init__(self,d):
        """Create d dimensional vector of zeros"""
        self._coords = [0]*d
    def __len__(self):
        """Return the dimension of the vector."""
        return len(self._coords)
    def __getitem__(self, j):
        """Return jth coordinate of vector."""
        return self._coords[j]
    def __setitem__(self, j, val):
        """Set jth coordinate of vector to given value."""
        self._coords[j]=val
    def __add__(self,other):
        """Return sum of two vectors."""
        if len(self)!=len(other): # relies on __len__method
            raise ValueError('dimensions must agree')
        result = Vector(len(self))
        for j in range(len(self)):
            result[j] = self[j]+other[j]
        return result
    def __eq__(self,other):
        """Return True if vector has same coordinates as other."""
        return self.__coords == other.__coords
    def __ne__(self, other):
        """Return True if vector differs from other."""
        return not self == other
    def __str__(self):
        """Produce string representation of vector."""
        return '<' + str(self._coords)[1:-1] + '>'

In [12]:
v = Vector(5)
v[1] = 23
v[-1] = 45
print(v[4])
u = v + v
print(u)
total = 0
for entry in v:
    total+=entry
print(total)

45
<0, 46, 0, 0, 90>
68