<a href="https://colab.research.google.com/github/rook0falcon/ML-QAs/blob/master/HAR_07072020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! cp "/content/757287_1308144_bundle_archive.zip" "/content/drive/My Drive"

In [3]:
! 7z e '/content/drive/My Drive/757287_1308144_bundle_archive.zip' -oA -y>nul

In [4]:
import os

In [5]:
sorted(os.listdir('/content/A/'))

['data_1600_accel_phone.txt',
 'data_1600_accel_watch.txt',
 'data_1600_gyro_phone.txt',
 'data_1600_gyro_watch.txt',
 'data_1601_accel_phone.txt',
 'data_1601_accel_watch.txt',
 'data_1601_gyro_phone.txt',
 'data_1601_gyro_watch.txt',
 'data_1602_accel_phone.txt',
 'data_1602_accel_watch.txt',
 'data_1602_gyro_phone.txt',
 'data_1602_gyro_watch.txt',
 'data_1603_accel_phone.txt',
 'data_1603_accel_watch.txt',
 'data_1603_gyro_phone.txt',
 'data_1603_gyro_watch.txt',
 'data_1604_accel_phone.txt',
 'data_1604_accel_watch.txt',
 'data_1604_gyro_phone.txt',
 'data_1604_gyro_watch.txt',
 'data_1605_accel_phone.txt',
 'data_1605_accel_watch.txt',
 'data_1605_gyro_phone.txt',
 'data_1605_gyro_watch.txt',
 'data_1606_accel_phone.txt',
 'data_1606_accel_watch.txt',
 'data_1606_gyro_phone.txt',
 'data_1606_gyro_watch.txt',
 'data_1607_accel_phone.txt',
 'data_1607_accel_watch.txt',
 'data_1607_gyro_phone.txt',
 'data_1607_gyro_watch.txt',
 'data_1608_accel_phone.txt',
 'data_1608_accel_watch.txt',
 'data_1608_gyro_phone.txt',
 'data_1608_gyro_watch.txt',
 'data_1609_accel_phone.txt',
 'data_1609_accel_watch.txt',
 'data_1609_gyro_phone.txt',
 'data_1609_gyro_watch.txt',
 'data_1610_accel_phone.txt',
 'data_1610_accel_watch.txt',
 'data_1610_gyro_phone.txt',
 'data_1610_gyro_watch.txt',
 'data_1611_accel_phone.txt',
 'data_1611_accel_watch.txt',
 'data_1611_gyro_phone.txt',
 'data_1611_gyro_watch.txt',
 'data_1612_accel_phone.txt',
 'data_1612_accel_watch.txt',
 'data_1612_gyro_phone.txt',
 'data_1612_gyro_watch.txt',
 'data_1613_accel_phone.txt',
 'data_1613_accel_watch.txt',
 'data_1613_gyro_phone.txt',
 'data_1613_gyro_watch.txt',
 'data_1614_accel_phone.txt',
 'data_1614_accel_watch.txt',
 'data_1614_gyro_phone.txt',
 'data_1614_gyro_watch.txt',
 'data_1615_accel_phone.txt',
 'data_1615_accel_watch.txt',
 'data_1615_gyro_phone.txt',
 'data_1615_gyro_watch.txt',
 'data_1616_accel_phone.txt',
 'data_1616_accel_watch.txt',
 'data_1616_gyro_phone.txt',
 'data_1616_gyro_watch.txt',
 'data_1617_accel_phone.txt',
 'data_1617_accel_watch.txt',
 'data_1617_gyro_phone.txt',
 'data_1617_gyro_watch.txt',
 'data_1618_accel_phone.txt',
 'data_1618_accel_watch.txt',
 'data_1618_gyro_phone.txt',
 'data_1618_gyro_watch.txt',
 'data_1619_accel_phone.txt',
 'data_1619_accel_watch.txt',
 'data_1619_gyro_phone.txt',
 'data_1619_gyro_watch.txt',
 'data_1620_accel_phone.txt',
 'data_1620_accel_watch.txt',
 'data_1620_gyro_phone.txt',
 'data_1620_gyro_watch.txt',
 'data_1621_accel_phone.txt',
 'data_1621_accel_watch.txt',
 'data_1621_gyro_phone.txt',
 'data_1621_gyro_watch.txt',
 'data_1622_accel_phone.txt',
 'data_1622_accel_watch.txt',
 'data_1622_gyro_phone.txt',
 'data_1622_gyro_watch.txt',
 'data_1623_accel_phone.txt',
 'data_1623_accel_watch.txt',
 'data_1623_gyro_phone.txt',
 'data_1623_gyro_watch.txt',
 'data_1624_accel_phone.txt',
 'data_1624_accel_watch.txt',
 'data_1624_gyro_phone.txt',
 'data_1624_gyro_watch.txt',
 'data_1625_accel_phone.txt',
 'data_1625_accel_watch.txt',
 'data_1625_gyro_phone.txt',
 'data_1625_gyro_watch.txt',
 'data_1626_accel_phone.txt',
 'data_1626_accel_watch.txt',
 'data_1626_gyro_phone.txt',
 'data_1626_gyro_watch.txt',
 'data_1627_accel_phone.txt',
 'data_1627_accel_watch.txt',
 'data_1627_gyro_phone.txt',
 'data_1627_gyro_watch.txt',
 'data_1628_accel_phone.txt',
 'data_1628_accel_watch.txt',
 'data_1628_gyro_phone.txt',
 'data_1628_gyro_watch.txt',
 'data_1629_accel_phone.txt',
 'data_1629_accel_watch.txt',
 'data_1629_gyro_phone.txt',
 'data_1629_gyro_watch.txt',
 'data_1630_accel_phone.txt',
 'data_1630_accel_watch.txt',
 'data_1630_gyro_phone.txt',
 'data_1630_gyro_watch.txt',
 'data_1631_accel_phone.txt',
 'data_1631_accel_watch.txt',
 'data_1631_gyro_phone.txt',
 'data_1631_gyro_watch.txt',
 'data_1632_accel_phone.txt',
 'data_1632_accel_watch.txt',
 'data_1632_gyro_phone.txt',
 'data_1632_gyro_watch.txt',
 'data_1633_accel_phone.txt',
 'data_1633_accel_watch.txt',
 'data_1633_gyro_phone.txt',
 'data_1633_gyro_watch.txt']

In [6]:
import pandas as pd

In [7]:
Act_code = pd.DataFrame({'Code':['Walking','Jogging','Stairs','Sitting','Standing','Typing','Brushing teeth','Eating Soup','Eating Chips',
 'Eating Pasta','Drinking from Cup','Eating Sandwich','Kicking','Playing Catch','Dribbling','Writing','Clapping','Folding cloth'], 
 'Activity':['A','B','C','D','E','F','G','H','I','J','K','L','M','O','P','Q','R','S']})
Act_code

                 Code Activity
0             Walking        A
1             Jogging        B
2              Stairs        C
3             Sitting        D
4            Standing        E
5              Typing        F
6      Brushing teeth        G
7         Eating Soup        H
8        Eating Chips        I
9        Eating Pasta        J
10  Drinking from Cup        K
11    Eating Sandwich        L
12            Kicking        M
13      Playing Catch        O
14          Dribbling        P
15            Writing        Q
16           Clapping        R
17      Folding cloth        S

In [8]:
%%time
data = []
for i in sorted(os.listdir('/content/A/')):
    with open('/content/A/'+i, 'r') as f:
        text = f.read()
        temp = text.split(';\n')
        final = []
        for i in range (len(temp)):
            a = temp[i].split(',')
            final.append(a)
        data += final
print(len(data))

9841477
CPU times: user 22.8 s, sys: 2.79 s, total: 25.6 s
Wall time: 25.7 s

In [9]:
data[:10]

[['1600', 'A', '252207666810782', '-0.36476135', '8.793503', '1.0550842'],
 ['1600', 'A', '252207717164786', '-0.8797302', '9.768784', '1.0169983'],
 ['1600', 'A', '252207767518790', '2.0014954', '11.10907', '2.619156'],
 ['1600', 'A', '252207817872794', '0.45062256', '12.651642', '0.18455505'],
 ['1600', 'A', '252207868226798', '-2.1643524', '13.928436', '-4.4224854'],
 ['1600', 'A', '252207918580802', '-4.332779', '13.361191', '-0.7188721'],
 ['1600', 'A', '252207968934806', '-0.31944275', '13.318359', '-0.23202515'],
 ['1600', 'A', '252208019288809', '1.566452', '9.515274', '-0.01777649'],
 ['1600', 'A', '252208069642813', '-0.32374573', '5.262665', '0.32234192'],
 ['1600', 'A', '252208119996817', '-1.811676', '3.7105103', '1.3739319']]

In [10]:
data = pd.DataFrame(data, columns = ['Subject-id', 'Activity Label', 'Timestamp', 'x', 'y', 'z'])
data.head(10)

  Subject-id Activity Label  ...          y            z
0       1600              A  ...   8.793503    1.0550842
1       1600              A  ...   9.768784    1.0169983
2       1600              A  ...   11.10907     2.619156
3       1600              A  ...  12.651642   0.18455505
4       1600              A  ...  13.928436   -4.4224854
5       1600              A  ...  13.361191   -0.7188721
6       1600              A  ...  13.318359  -0.23202515
7       1600              A  ...   9.515274  -0.01777649
8       1600              A  ...   5.262665   0.32234192
9       1600              A  ...  3.7105103    1.3739319

[10 rows x 6 columns]

In [11]:
(data.isnull()).sum()

Subject-id          0
Activity Label    136
Timestamp         136
x                 136
y                 136
z                 136
dtype: int64

In [12]:
data = data.dropna()

In [13]:
(data.isnull()).sum()

Subject-id        0
Activity Label    0
Timestamp         0
x                 0
y                 0
z                 0
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
target = le.fit_transform(data['Activity Label'])

In [15]:
%%time
# convert the elements of the dataframe from string to numeric
train = data.drop(columns = 'Activity Label', axis = 1)
train = train.apply(pd.to_numeric, errors='coerce')

CPU times: user 25.3 s, sys: 255 ms, total: 25.6 s
Wall time: 25.6 s

In [16]:
from datetime import datetime

In [17]:
%%time
train['Timestamp'] = train['Timestamp'].apply(lambda x: x//1000000)
train['Timestamp'] = train['Timestamp'].apply(lambda x: datetime.fromtimestamp(x))

CPU times: user 13.3 s, sys: 50.9 ms, total: 13.3 s
Wall time: 13.3 s

In [18]:
train.head()

   Subject-id           Timestamp         x          y         z
0        1600 1977-12-29 01:41:06 -0.364761   8.793503  1.055084
1        1600 1977-12-29 01:41:57 -0.879730   9.768784  1.016998
2        1600 1977-12-29 01:42:47  2.001495  11.109070  2.619156
3        1600 1977-12-29 01:43:37  0.450623  12.651642  0.184555
4        1600 1977-12-29 01:44:28 -2.164352  13.928436 -4.422485

In [19]:
for time in ('year','month','week','day','hour','minute','second'):
    train[time] = getattr(train['Timestamp'].dt,time)
train.drop(columns=["Timestamp","Subject-id"],inplace=True)

In [20]:
train.head()

          x          y         z  year  month  week  day  hour  minute  second
0 -0.364761   8.793503  1.055084  1977     12    52   29     1      41       6
1 -0.879730   9.768784  1.016998  1977     12    52   29     1      41      57
2  2.001495  11.109070  2.619156  1977     12    52   29     1      42      47
3  0.450623  12.651642  0.184555  1977     12    52   29     1      43      37
4 -2.164352  13.928436 -4.422485  1977     12    52   29     1      44      28

In [21]:
len(train)

9841341

In [22]:
train['Activity Label'] = target

In [23]:
train = train.sample(frac=0.05).reset_index(drop=True)
len(train)

492067

In [24]:
train.head()

          x         y         z  year  ...  hour  minute  second  Activity Label
0  2.040010 -2.718766  9.226805  1986  ...    21      42      18               3
1  3.097138 -2.803635 -9.325653  1970  ...    23       5      22              10
2 -4.235579 -0.708361  0.072416  1975  ...    19      19      56               2
3  0.141205 -0.079224 -0.185776  1992  ...    16      38      14              14
4  0.184494  0.326324 -0.039841  1975  ...     0      33       6              17

[5 rows x 11 columns]

In [25]:
train['Activity Label'].value_counts()

10    28373
17    27857
0     27838
4     27818
12    27563
15    27500
6     27473
14    27462
7     27347
3     27317
13    27207
8     27196
11    27178
16    27169
2     26886
1     26733
5     26656
9     26494
Name: Activity Label, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

In [28]:
train.shape

(492067, 11)

In [29]:
y=train["Activity Label"]
x=train.drop(columns="Activity Label")
x_train, x_test, y_train, y_test = train_test_split(x,y , train_size = 0.8, random_state =  42, stratify = y)
x_train, x_val, y_train, y_val = train_test_split(x_train,y_train , train_size = 0.8, random_state =  42, stratify = y_train)

In [30]:
print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)
print(x_test.shape, y_test.shape)

(314922, 10) (314922,)
(78731, 10) (78731,)
(98414, 10) (98414,)

In [31]:
x_train.head()

               x         y         z  year  ...  day  hour  minute  second
409469 -3.699524 -8.458374 -5.830505  1991  ...   28    16      59      35
319976  7.597809 -4.565308 -4.145691  1971  ...   20     0      56      40
219632 -0.225729 -0.709895 -0.632809  1970  ...   28     0      32      12
333571 -0.003860  0.006210  0.001495  1976  ...   13    22       4      18
323977  2.854752 -2.384903 -9.520065  1970  ...   19    23      13      48

[5 rows x 10 columns]

In [32]:
y_train.head()

409469    17
319976     6
219632    14
333571    15
323977     8
Name: Activity Label, dtype: int64

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [35]:
%%time
model = RandomForestClassifier(n_estimators=100, max_depth=10)
model.fit(x_train, y_train)

CPU times: user 1min 13s, sys: 119 ms, total: 1min 13s
Wall time: 1min 13s

In [36]:
y_pred= model.predict(x_test)
acc = accuracy_score(y_test, y_pred)

In [37]:
acc

0.5518422175706709

In [ ]:
# Much of the data is not used here. 
# X_val is not utilised and out of 9M data points only, 0.4M are used to do model training.

In [39]:
from xgboost import XGBClassifier as XC

In [41]:
%%time
model = XC(n_estimators=20, max_depth=10)
model.fit(x_train, y_train)
y_pred= model.predict(x_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.6965065945902006
CPU times: user 5min 25s, sys: 477 ms, total: 5min 25s
Wall time: 5min 26s